<html>
  <head>
    <title>vKRS</title>
    <style>
      input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
      }
      #squestion {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
      }
      #resetform {
        width: 40%;
        margin-left: 30%;
        margin-top: 10%;
      }
      #sbutton {
        margin-left: 40%;
        margin-top: 3%;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/7fa4b450dd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../img/Vmware.svg" width="200" height="30" alt="vmware-logo" />
    </a>
  </nav>
  <div id="resetform">
    <form action="/forgot/resetpass" method="POST">
      <h3 style="margin-left: 21%">Enter New Password</h3>
      <input type="password" placeholder="Password" name="password" />
      <input type="password" placeholder="Confirm Password" name="cpassword" />
      <button type="submit" class="btn btn-dark" id="sbutton">Submit</button>
    </form>
  </div>
  <p style="text-align: center; color: red"><%=errlog%></p>
</html>
