<html>
<head>
    <title>welcome to vkronos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
               <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-space">
                        <form action='/login' method="POST">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">Username</label> 
                            <input id="user" type="text" class="input" name="email" placeholder="Enter your username"> </div>
                            <div class="group"> <label for="pass" class="label">Password</label> 
                            <input id="pass" type="password" class="input" data-type="password" name="password" placeholder="Enter your password"> </div>
                            <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <a href="#">Forgot Password?</a> </div>
                            <span><%= error %></span>
                        </div>
                        
                    </form>
                    <form action="/signup" method="POST">
                        <div class="sign-up-form">
                            <div class="group"> <label for="user" class="label">Username</label> 
                            <input id="user" type="text" class="input" name="username" placeholder="Create your Username"> </div>
                            <div class="group"> <label for="pass" class="label">Password</label> 
                            <input id="pass" type="password" class="input" data-type="password" name="password" placeholder="Create your password"> </div>
                            <div class="group"> <label for="pass" class="label">Repeat Password</label> 
                            <input id="pass" type="password" class="input" data-type="password" name="cpassword" placeholder="Repeat your password"> </div>
                            <div class="group"> <label for="pass" class="label">Email Address</label> 
                            <input id="pass" type="text" class="input" placeholder="Enter your email address" name="email"> </div>
                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                            <span><%= errorsign %></span>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                        </div>
                    </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
</body>
</html>