<html>
<head>
    <title>Welcome to manager page</title>
    <link rel="stylesheet" type="text/css" href="../css/manager_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

.dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
}


    input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    }

    input[type=Report] {
    width: 10%;
    background-color: #62bfcf;
    color: rgb(15, 15, 15);
    font-weight: 700;
    font-size:large;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
    }
    input[type=Report]:hover {
    background-color: #07cad8;


    
}
    </style>

</head>
<body>
    <div class="tint">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                
                <a class="navbar-brand"><img class="img-responsive2"       
                src=https://www.vmware.com/etc/clientlibs/vmwaredevapp/clientlib-nav-redesign/images/vm-logo.png></a>
                
            </div>
        </div>
    </nav>
    <h1 style="color: black">Hello <%=username%></h1>

    

    <form action="/manager" method="POST">
        <!-- <div class="box"> -->
           
        
      
          <label for="fname">Employee name:</label>
        <!-- <select class="form-control" id="sel1">
            <% for(var i=0; i < dropdownVals.length; i++) { %>
               <option><%= dropdownVals[i].employee_fullname %></option>
            <% } %>
            </select> -->
            
            <div id="list1" class="dropdown-check-list" tabindex="100">
              <span class="anchor">Name</span>
              <ul class="items">
                <% for(var i=0; i < dropdownVals.length; i++) { %>
                <li><input type="checkbox" value=<%= dropdownVals[i].nt_id %> name="employee" /><%= dropdownVals[i].employee_fullname %> </li>
                <% } %>
              </ul>
            </div>
            
        <label for="start">Start date:</label>
        <input type="date" id="start" name="Start_date" value="2021-03-01" min="2021-01-01" max="2030-12-31">
        <label for="start">End date:</label>
        <input type="date" id="start" name="End_date" value="2021-03-01" min="2021-01-01" max="2030-12-31">
        <input type="submit" class="button" value="Report">
    
    
    

      </form>
    
    <!-- </div> -->
    
    
    </div>
    <script>
    
        var checkList = document.getElementById('list1');
    checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
    if (checkList.classList.contains('visible'))
    checkList.classList.remove('visible');
    else
    checkList.classList.add('visible');
    }
  
    </script>
</body>

</html>