<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/signup" method="POST">
          <a class="navbar-brand"
            ><img class="img-responsive2"
            src=https://www.vmware.com/etc/clientlibs/vmwaredevapp/clientlib-nav-redesign/images/vm-logo.png>
          </a>
          <h1>Create Account</h1>
          <span>Use your email for registration</span>
          <input type="text" placeholder="User name" name="username" />
          <input type="email" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <input
            type="Repeat password"
            placeholder="Repeat Password"
            name="cpassword"
          />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="/login" method="POST">
          <a class="navbar-brand"
            ><img class="img-responsive2"
            src=https://www.vmware.com/etc/clientlibs/vmwaredevapp/clientlib-nav-redesign/images/vm-logo.png>
          </a>
          <h1>Sign in</h1>
          <span>Use your account</span>
          <input type="User Name" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <button>Sign In</button>
          <p style="color: red"><%=error%></p>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <!-- <h1>Already a Member?</h1><br> -->
            <h1><strong>vKronos</strong></h1>
            <br />
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1><strong>vKronos</strong></h1>
            <br />
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/demo.js"></script>
  </body>
</html>
