body {
    padding-top: 5rem;

    background-image: url("https://www.dynamicgroup.in/img/vmware/banner.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
  }

  h1{
    position:relative; 
    text-align: center;
    padding-left: 2px;
    top:60px;
    left:5px; 
    right:5px; 
  }


  .lead{
    text-align: center;
    margin-top: 110px;
    margin-left: 20px;
  }

  marquee{
    font-size: 30px;
    font-weight: 800;
    color: #f0f1ed;
    font-family: sans-serif;
    }



  