@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@font-face {
  font-family: "digital-clock-font";
  src: url("./ds_digital/DS-DIGI.ttf");
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: url("../img/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: 1270px 600px; */
  background-size: cover;
  overflow-y: auto;
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 0px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 10em;
  color: black;
}

strong {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 700;
}

#content {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  width: 550px;
  margin-top: 5%;
}

.btn-outline-info {
  color: #f3f6f7;
  border-color: #080808;
  background-color: black;
}

.alert {
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
  /* background-color: #10c4f1; */
  background-image: linear-gradient(
    to left bottom,
    #00b5ff,
    #00bef3,
    #00c4d9,
    #00c7b4,
    #19c78a
  );
  color: rgb(10, 10, 10);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: rgb(17, 17, 17);
}

.elapsed-time-text {
  font-family: "digital-clock-font";
  font-size: xx-large;
  border: 0px solid;
  /* outline: none; */
  width: 130px;
  color: white;
  background-color: transparent;
}

#timer {
  padding-top: 40%;
  padding-left: 9%;
}
