<html>
    <head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/7fa4b450dd.js" crossorigin="anonymous"></script>
</head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
              <img src="../img/Vmware.svg" width="200" height="30" alt="vmware-logo">
            </a>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      <form class="d-flex" action='/logout' method="POST">
                          <button class="btn btn-dark btn-lg" type="submit">Logout <i class="fas fa-sign-in-alt"></i></button>
                       </form>
                  </li>
                </ul>
          </nav>
</body>
</html>